
<div class="card">
  <div class="card-body">
    <h1>{{_postagem.titulo}}</h1>
    <hr>
    <small>Data de publicação: {{_postagem.data}}</small> <br>
    <hr>
    {{_postagem.conteudo}}
  </div>
</div>